n8n/workflows/content-publishing.json
{
  "name": "MPIS Content Publishing Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://genesis-api:8080/publisher/generate",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "plan_id",
              "value": "={{ $json.plan_id }}"
            },
            {
              "name": "variants",
              "value": 2
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "generate-draft",
      "name": "Generate Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "notesInFlow": true,
      "notes": "Call MPIS Publisher API to generate content draft"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-check-draft",
              "leftValue": "={{ $json.status }}",
              "rightValue": "draft",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-draft",
      "name": "Draft Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_APPROVAL_CHAT_ID }}",
        "text": "=📝 **New Draft Ready for Approval**\n\n**Draft ID:** {{ $json.id }}\n**Plan ID:** {{ $json.plan_id }}\n\n**Variant 1:**\n{{ $json.variants[0].text }}\n\n---\n\nReply with:\n- `/approve {{ $json.id }}` to approve\n- `/reject {{ $json.id }}` to reject",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-approval",
      "name": "Send for Approval",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [900, 200],
      "notesInFlow": true,
      "notes": "Send draft to Telegram for human approval"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "poll-approval",
      "name": "Poll for Approval",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [1120, 200],
      "notesInFlow": true,
      "notes": "Or use Telegram webhook for instant response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://genesis-api:8080/publisher/approve",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "draft_id",
              "value": "={{ $json.draft_id }}"
            },
            {
              "name": "selected_variant",
              "value": 1
            },
            {
              "name": "confirm",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "approve-draft",
      "name": "Approve Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 200],
      "notesInFlow": true,
      "notes": "Call MPIS Publisher API to approve draft"
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_PUBLISH_CHANNEL_ID }}",
        "text": "={{ $json.content }}",
        "additionalFields": {}
      },
      "id": "publish-telegram",
      "name": "Publish to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1560, 200],
      "notesInFlow": true,
      "notes": "Publish approved content to Telegram channel"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://genesis-api:8080/publisher/publish/record",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "draft_id",
              "value": "={{ $json.draft_id }}"
            },
            {
              "name": "channel",
              "value": "telegram"
            },
            {
              "name": "channel_item_id",
              "value": "={{ $json.message_id }}"
            },
            {
              "name": "channel_url",
              "value": "=https://t.me/{{ $env.TELEGRAM_CHANNEL_USERNAME }}/{{ $json.message_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "record-publish",
      "name": "Record Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 200],
      "notesInFlow": true,
      "notes": "Record the publish result in MPIS"
    },
    {
      "parameters": {
        "errorMessage": "Draft generation failed"
      },
      "id": "handle-error",
      "name": "Handle Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Generate Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Draft": {
      "main": [
        [
          {
            "node": "Draft Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Created?": {
      "main": [
        [
          {
            "node": "Send for Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll for Approval": {
      "main": [
        [
          {
            "node": "Approve Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Draft": {
      "main": [
        [
          {
            "node": "Publish to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Telegram": {
      "main": [
        [
          {
            "node": "Record Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "meta": {
    "instanceId": "mpis"
  },
  "tags": [
    {
      "name": "MPIS",
      "id": "1"
    },
    {
      "name": "Publisher",
      "id": "2"
    }
  ]
}
