n8n/workflows/genesis_mvp_workflow.json
{
  "name": "MPIS Genesis MVP Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "genesis-start",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-start",
      "name": "Start Genesis Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "genesis-start"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://genesis-api:8080/genesis/start",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "http-start-genesis",
      "name": "Start Genesis Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-start",
      "name": "Respond Start",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "genesis-approve",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-approve",
      "name": "Approve Genesis Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 500],
      "webhookId": "genesis-approve"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://genesis-api:8080/genesis/approve",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "http-approve-genesis",
      "name": "Approve Genesis Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-approve",
      "name": "Respond Approve",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 500]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "genesis-status/{{ $json.query.job_id }}",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-status",
      "name": "Status Genesis Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 700],
      "webhookId": "genesis-status"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://genesis-api:8080/genesis/status/{{ $json.query.job_id }}",
        "options": {}
      },
      "id": "http-status-genesis",
      "name": "Get Genesis Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-status",
      "name": "Respond Status",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 700]
    }
  ],
  "connections": {
    "Start Genesis Webhook": {
      "main": [
        [
          {
            "node": "Start Genesis Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Genesis Job": {
      "main": [
        [
          {
            "node": "Respond Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Genesis Webhook": {
      "main": [
        [
          {
            "node": "Approve Genesis Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Genesis Job": {
      "main": [
        [
          {
            "node": "Respond Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Genesis Webhook": {
      "main": [
        [
          {
            "node": "Get Genesis Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Genesis Status": {
      "main": [
        [
          {
            "node": "Respond Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "mpis-genesis-mvp"
  },
  "pinData": {},
  "versionId": "1.0.0",
  "triggerCount": 0,
  "tags": [
    {
      "name": "mpis",
      "id": "1"
    },
    {
      "name": "genesis",
      "id": "2"
    }
  ]
}
